.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.portfolio__item {
  background: var(--color-bg-variant);
  padding: 0.87rem;
  border-radius: 6px;
  border: 1px solid transparent;
  transition: var(--transition);
}
.portfolio__item:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.portfolio__item-image {
  border-radius: 6px;
  overflow: hidden;
}

.portfolio__item h3 {
  margin: 1.2rem 0 2rem;
}
.portfolio__item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

/* ======media queries for tablets(medium devices) =========*/

@media screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

/* ======media queries for mobile(small devices) =========*/

@media screen and (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
  }
}
